body{
  background-color: $mainColor;
  font-family: $firstFont;
  min-height: 276px;
}
h1{
  font-size: 4em;
}
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container{
  margin: 0 auto;
  width: 58%;
  @media screen and (max-width: 40em){
    width: 95%;
  }
  @media screen and (max-width: 60em){
    width: 68%;
  }
}
.solid-bar{
  background-color: $textColor;
  height: 56px;
  transform: translateY(-3.8em);
  width: 100%;
}
.navbar{
  font-size: 2em;
  margin: 0 auto;
  transform: translateY(-2.2em);
  ul{
    margin: 0;
    padding-bottom: 10px;
    padding-left: 0;
    padding-top: 10px;
  }
  li{
    text-align: center;
    a{
      background-color:$navbarBackgroundColor;
      color: $mainColor;
      display: block;
      font-family: $secondFont;
      padding: 10px 0;
      width: 100%;
      &:hover{
        background-color: $selectedColor;
        color: $textColor;
      }
    }
  }
  @media screen and (min-width:30em){
    ul{
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    li{
      flex: 1 0 auto;
    }
  }
}

.main-header{
  font-size: 10em;
  font-weight: lighter;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: center;
  a{
    color:$textColor;
    text-decoration: none;
  }
  @media screen and (min-width: 40em){
    font-size: 15em;
    margin-bottom: 15px;
  }
  @media screen and (min-width: 60em){
    font-size: 20em;
    margin-bottom: 5px;
  }
}

.main-menu{
  background-color: $menuBackgroundColor;
  display: flex;
  flex-direction: column;
  font-size: 5em;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  ul{
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
  }
  li{
    text-align: center;
    width:100%;
    a{
      color:$mainColor;
      display: block;
      padding-bottom: 2rem;
      padding-top: 2rem;
      &:hover{
        color: $textColor;
        background-color: $selectedColor;
      }
      @media screen and (max-height: 470px){
          padding: 0;
      }
    }
  }
  @media screen and (max-width:35em){
    font-size: 3.5em;
  }
}
.about{
  h1{
    color: $secondTextColor;
    margin:0;
    text-align: center;
  }
}

.icon{
  cursor: pointer;
  fill:$iconColor;
  stroke: $mainColor;
  stroke-width: 5px;
  &:hover{
    fill:$selectedColor;
    stroke: $textColor;
  }
}
.menu-icon{
  bottom: 0;
  right:100px;
  position: fixed;
  svg{
    height: 100px;
    width: 100px;
  }
  @media screen and (max-width: 40em){
    right:25px;
  }
  @media screen and (max-width: 60em){
    right:10px;
  }
}
.add-icon{
  bottom: 90px;
  right:100px;
  position: fixed;
  svg{
    height: 100px;
    width: 100px;
  }
  @media screen and (max-width: 40em){
    right:25px;
  }
  @media screen and (max-width: 60em){
    right:10px;
  }
}

.close-button{
  position: fixed;
  right:20px;
  stroke: $mainColor;
  stroke-width: 3px;
  top: 20px;
  transition: all 0.3s ease;
  svg{
    height: 100px;
    width: 100px;
  }
  &:hover{
    stroke: $mainColor;
    transform: rotate(90deg);
    transform-origin: center;
  }
}
.active{
  a{
  background-color: $selectedColor;
  color: $textColor;
  }
}
.bg1{
  background-color:$mainColor;
}
.bg2{
  background-color: $selectedColor;
}
.visible{
  opacity: 1;
  visibility: visible;
}
