body{
  background-color: $mainColor;
}
.container{
  margin: 0 auto;
  width: 58%;
}
.navbar{
  font-size: 2em;
  margin: 0 auto;
  transform: translateY(-2.2em);
  li{
    text-align: center;
    a{
      background-color:$navbarBackgroundColor;
      color: $mainColor;
      display: block;
      font-family: $secondFont;
      padding: 10px 0;
      text-decoration: none;
      width: 100%;
      &:hover{
        color: $textColor;
        background-color: $selectedColor;
      }
    }
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding-bottom: 10px;
    padding-left: 0;
    padding-top: 10px;
  }
  @media screen and (min-width:30em){
    ul{
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    li{
      flex: 1 0 auto;
    }
  }
}
.main-header{
  color:$textColor;
  font-family: $firstFont;
  font-size: 20em;
  font-weight: lighter;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}
