.do-it{
	display:flex;
	flex-direction:row-reverse;
	flex-wrap: wrap;
}

.menu{
	background-color: $menuBackgroundColor;
	flex-grow:1;
	flex-shrink:1;
}

.schedules{
	background-color: $mainBackgroundColor;
	flex-grow:7;
}