/*Fonts*/

@font-face{
  font-family: bodoniMT;
  src: url("../fonts/bodoni.ttf") format('truetype');
}
@font-face{
  font-family: futuraL;
  src: url("../fonts/futuraL.ttf") format('truetype');
}

/* Colors */

$pink:#d4648c;
$lightBlue:#809ab5;
$blue:#01346b;
$darkerBlue:#011e33;
$lightCoalBlack:#1d2a32;
$darkCoalBlack:#1b1818;

/* ------------------------ */

$mainColor: $lightBlue;
$navbarBackgroundColor: $darkerBlue;
$textColor: $darkCoalBlack;
$selectedColor: $pink;
$iconColor: $blue;
$menuBackgroundColor: $blue;
$secondTextColor: $darkerBlue;
$placeholder: $lightCoalBlack;

$firstFont: bodoniMT;
$secondFont: futuraL;
